@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Ubuntu&display=swap');


/* DEFAULT THEME STYLES */
section p{
    margin: 10px 0  10px auto;
    padding: 0 15px 0 15px;
}

a{
    color: #f4f6f4;
}

a:hover{
    color: burlywood;
}

header{
    background-image: url('img/header\ banner.jpg');
}

footer{
    padding: 10px;
    background-image: url('img/header\ banner.jpg');
}

/* fixing all images */
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/*******************
Mobile tyles started
    NAVIGATION
********************/
nav ul {
    display: flex;
    list-style-type: none;
    flex-flow: wrap;
    flex-direction: column;
    
}
nav ul{
    align-items: center;
}

nav ul li{
    padding: 5px;
    margin-right: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    color: #f4f6f4;
}

nav ul li:last-child{
    margin-bottom: 15px;
}

/* Logo */
nav ul li:first-child{
    /* align-self: center;
    margin-right: auto;
    padding: 0px; */
}


/* Styling the body */
.body-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section{
    background-color: rgba(239, 243, 214, 0.795);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;

}

section h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: brown;
}

/*********** INDEX PAGE*************/


/* 
.biography img{
    height: 300px;
    width: 450px;
} */




/* Footer styles */
footer{
    display: flex;
    list-style-type: none;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #2c262a;
    color: #f4f6f4;
}
footer p, footer ul{
    padding: 3px;
    margin: 0 10px 0 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

footer ul{
    text-align: center;
}

footer h3{
    font-weight: bold;
    margin-bottom: 8px;
}


/* Tablet & Dektop Styles*/
@media screen and (min-width: 600px){
    

/*******************

    NAVIGATION

********************/
nav ul {
    display: flex;
    list-style-type: none;
    flex-flow: wrap;
}

nav ul li{
    padding: 5px;
    margin-right: 30px;
}


/* Logo */
nav ul li:first-child{
    align-self: flex-start;
    margin-right: auto;
    padding: 0px;
}


/* Footer styles */
footer{
    display:flex;
    flex-direction: row-reverse;
    justify-items: center;
}

footer p{
    margin-right: auto;
}

.body-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas: "i i i"
                        "o o o"
                        "p p p"
                        "q q q";
}

.body-container section:first-child{
    grid-area: i;
}

.body-container section:nth-child(2){
    grid-area: o;
}


/* .body-container section:nth-child(2) {
} */

.body-container section:nth-child(3){
    grid-area: p;
}

.body-container section:nth-child(4){
    grid-area: q;
}

}


























/************************
    Portfolio images
*************************/
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .gallery__card {
    width: 250px;
    height: 150px;
    margin: 10px;
  background-color: lightgrey;
    /* background-color: var(--light-bg); */
    border: 2px solid #000;
  }

  .portfolio__title{
      text-align: center;
  }

  .gallery div > img{
    width: 250px;
    height: 150px;
    margin: 10px;
  }
  









/*******************

    CONTACT FORM

********************/

*,
:after,
:before{
  box-sizing: border-box;
}

.form-container{
  max-width: 35rem;
  border: 2px solid #000;
  margin: 10px;
  background-image: url("https://cdn.pixabay.com/photo/2017/10/18/16/08/wolf-2864647_960_720.jpg");
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
}

label{
    color: white;
    font-weight: bold;
  }

.form-container form{
  margin: 1rem;
}

label{
  display: block;
  margin: 15px 0 10px 0;
}
input{
    height: 30px;
}

#nm, #em{
  width: 80%;
}

textarea{
  resize: none;
  width: 90%;
  height: 130px;
}

input[type="checkbox"]{
  width:20px;
  vertical-align: middle;
}

/****Tablet view*****/
@media screen and (min-width: 35rem) and (max-width: 60rem){
  
  .form-container{
          max-width: 60rem;
          border: 1px solid #000;
          padding: 20px;
          margin: 10px;
          background-image: url("https://cdn.pixabay.com/photo/2015/02/24/15/41/dog-647528_960_720.jpg");
          font-family: 'Varela Round', sans-serif;
          font-size: 1rem;
        }
  
  label{
    color: lightgreen;
    font-weight: bold;
  }

.form-container form{
        margin: 2rem;
      }
  
  .form-container .name {
        display: inline-block;
        width: 100%;
      }
 
input{
    height: 30px;
}
  
  #nm, #em{
  width: 50%;
}

textarea{
    resize: none;
    width: 65%;
    height: 130px;
  }

input[type="checkbox"]{
  width:20px;
  vertical-align: middle;
}
}  

/********Desktop View*********/
@media screen and (min-width: 60rem){
  
  
  body{
    margin: 0 auto;
  }
  
.form-container{
  max-width: 100%;
  border: 1px solid #000;
  padding: 20px;
  margin: 10px;
  background-image: url("https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074_960_720.jpg");
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
}
  
  label{
    color: darkred;
    font-weight: bold;
  }

.form-container form{
  margin: 0 3rem;
  max-width: 80rem;  
}
  
.name label{
  display: block;
  }
  
  .form-container .name {
    display: inline-block;
  }
 
#nm, #em{
  width: 100%;
  margin-right:30px;
}

textarea{
  resize: none;
  width: 80%;
  height: 140px;
}

input[type="checkbox"]{
  width:30px;
  vertical-align: middle;
}
  
} 